* {
  margin: 0;
    padding: 0;
}
.logo {
    background-image: url(img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 20px;
    float: left;
}
.titulo{
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.contenedor {
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 10px auto; /*centrar con auto*/
    border: 1px solid;
    border-radius: 20px;
    min-width: 500px; /* así se evita que se achique la caja */
}
.formulario {
    clear: both;
    /*border: 1px solid;
    border-radius: 20px;*/
    padding: 20px;
    display: grid;
}
form {
    display: grid; /* particularmente esto afecta a los input */
}
label {
    line-height: 40px;
}
input {
    height: 30px;
}
.btn {
    height: 50px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
}
label, input, .btn {
    font-size: 20px; /* esta propiedad no se hereda por ello hay que aplicarla así */
}